# Implementation test task for model testing on Lefebvre data

The above code is used to create a pandas dataframe that contains the data of levebreve. 
It should be similar to the dataframe of my ex_test_df.

In [36]:
import pandas as pd
import numpy as np
import torch

pd.read_csv('../../dat/csv_test_files//ex_test_df.csv').head(1)

,test_idx,batch_idx,trials_idx,cues,rewards,regrets,optimal_actions,actions,entropy,value_fn,policy_0,policy_1,rand_rewards,rand_regrets,rand_actions,rand_optimal_actions
0,0,0,0,3.0,1.0,0.0,0.0,0.0,0.692723,3.251357,0.514561,0.485439,1.0,0.0,1.0,1.0

In [37]:
def load_exp(n_exp):
    """
    Parameters:
        :n_exp: number of experiment (1 or 2)

    Returns: (context, c, r, q_initial)
    """
    exps = torch.load('../../dat/lefebvre_exp/extracted_data.pt')
    exp = exps[n_exp-1]
    context,c,r = exp  # participants x trials
    c = (c - 1).astype(int) 
    context = (context - 1).astype(int)
    return context, c, r

In [53]:
context, c, r = load_exp(1) # set exp 1 or 2

n_participants = context.shape[0]
n_trials = context.shape[1]

context.shape

(50, 96)

In [54]:
exp = pd.DataFrame({
        'participant_idx': np.repeat(np.arange(0,n_participants),n_trials),
        'trials_idx': np.tile(np.arange(0,n_trials),n_participants),
        'cues': context.flatten(),
        'actions': c.flatten(),
        'rewards': r.flatten()
        })

#exp.to_csv('../../dat/lefebvre_exp/exp2.csv') # set exp1 or 2

In [55]:
exp

      participant_idx  trials_idx  cues  actions  rewards
0                   0           0     2        0      0.0
1                   0           1     3        1      0.5
2                   0           2     3        1      0.5
3                   0           3     2        0      0.0
4                   0           4     0        1      0.0
...               ...         ...   ...      ...      ...
4795               49          91     0        0      0.0
4796               49          92     0        0      0.0
4797               49          93     1        0      0.5
4798               49          94     3        1      0.5
4799               49          95     0        1      0.5

[4800 rows x 5 columns]

In [2]:
import pandas as pd

df = pd.read_csv('../../dat/lefebvre_exp/exp1.csv') # set exp1 or 2

In [5]:
df[df.cues==2].groupby('actions').mean()

          Unnamed: 0  participant_idx  trials_idx  cues   rewards
actions
0        2249.234899        23.046980   36.724832   2.0  0.098993
1        2448.891353        24.980044   50.807095   2.0  0.366962